<nav class="nav">
  <div>
    <div class="logoDiv">
      <span class="logo">LOADS SERVICE</span>
    </div>
    {{#if LOGIN}}
    <div class="logout">
      {{#if email}}
      <p>Welcome {{email}}</p>
      <a href="/">LOG OUT</a>
      {{else}}
      <p>Welcome USER</p>
      <a href="/">LOG OUT</a>
      {{/if}}
    </div>
    {{else}}
    <div class="logout">
      <a href="/log">LOG IN</a>
    </div>
    {{/if}}
  </div>
</nav>