<div class="sidebar">
  <ul>
    {{#if isProfile}}
    <li class="active"><a href="/api/users/me">PROFILE</a></li>
    {{else}}
    <li><a href="/api/users/me">PROFILE</a></li>
    {{/if}}

    {{#if isCreate}}
    <li class="active"><a href="/api/create">CREATE NEW LOAD</a></li>
    {{else}}
    <li><a href="/api/create">CREATE NEW LOAD</a></li>
    {{/if}}

    {{#if isNew}}
    <li class="active"><a href="/api/loads">NEW LOADS</a></li>
    {{else}}
    <li><a href="/api/loads">NEW LOADS</a></li>
    {{/if}}

    {{#if isAssigned}}
    <li class="active"><a href="/api/loads/shipping_info">ASSIGNED LOAD</a></li>
    {{else}}
    <li><a href="/api/loads/shipping_info">ASSIGNED LOADS</a></li>
    {{/if}}

    {{#if isHistory}}
    <li class="active"><a href="/api/history">HISTORY</a></li>
    {{else}}
    <li><a href="/api/history">HISTORY</a></li>
    {{/if}}

  </ul>
</div>