<div class="index">

  {{#if isIndex}}
  <div class="main">
    <h2>Welcome to LOADS SERVICE!</h2>
    <div class="forms">
      <a href="/reg">Registration</a>
      <a href="/log">LOGIN</a>
    </div>
  </div>
  {{/if}}

  {{#if isLoged}}
  <div class="main">
    <h2>Welcome to LOADS SERVICE!</h2>
    <div class="forms">
      <a href="/api/create">Create new load</a>
    </div>
  </div>
  {{/if}}

  {{#if isReg}}
  <form action="/api/auth/register" method="post" class="regforms">
    <h2>Registration</h2>
    <div class="input-fiels">
      <div>
        <label for="email">Email</label>
        <input id="email" type="email" name="email">
      </div>
      <div>
        <label for="password">Password</label>
        <input id="password" type="text" name="password">
      </div>
      <div class="role">
        <label for="role">Role:</label>
        <select id="role" name="role">
          <option value="SHIPPER">SHIPPER</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn">Registration</button>
  </form>
  {{/if}}

  {{#if isReged}}
  <div class="main">
    <h2>Profile created successfully!</h2>
    <div class="forms">
      <a href="/log">LOGIN</a>
    </div>
  </div>
  {{/if}}

  {{#if isLog}}
  <form action="/api/auth/login" method="post" class="regforms">
    <h2>Login</h2>
    <div class="input-fiels">
      <div>
        <label for="email">Email</label>
        <input id="email" type="email" name="email">
      </div>
      <div>
        <label for="password">Password</label>
        <input id="password" type="password" name="password">
      </div>
    </div>
    <div class="fog">
      <button type="submit" class="btn">Login</button>
      <a class="btnA forgot" href="/forgot"><span>Forgot password</span></a>
    </div>
  </form>
  {{/if}}

  {{#if isProfile}}
  <div class="profile">
    <h2>PROFILE INFO</h2>
    <ul>
      {{#each user}}
      {{#if _id}}
      <li><span>User ID:</span> <span class="id">{{_id}}</span></li>
      {{/if}}
      {{#if email}}
      <li><span>Email:</span> <span class="id">{{email}}</span></li>
      {{/if}}
      {{#if created_date}}
      <li><span>Created Date:</span> <span class="id">{{created_date}}</span></li>
      {{/if}}
      {{/each}}
    </ul>
  </div>
  {{/if}}

  {{#if isCreate}}
  <form action="/api/loads" method="post" class="createform">
    <h2>CREATE NEW LOAD</h2>

    <div>
      <div>
        <label for="name">Name</label>
        <input id="name" type="text" name="name">
      </div>
      <div>
        <label for="payload">Payload</label>
        <input id="payload" type="text" name="payload">
      </div>
      <div>
        <label for="pickup_address">Pickup Address</label>
        <input id="pickup_address" type="text" name="pickup_address">
      </div>
      <div>
        <label for="delivery_address">Delivery Address</label>
        <input id="delivery_address" type="text" name="delivery_address">
      </div>
      <div class="dimensions">
        <p>Dimensions:</p>
        <div>
          <label for="width">Width</label>
          <input id="width" type="text" name="dimensions.width">
        </div>
        <div>
          <label for="length">Length</label>
          <input id="length" type="text" name="dimensions.length">
        </div>
        <div>
          <label for="height">Height</label>
          <input id="height" type="text" name="dimensions.height">
        </div>
      </div>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
  {{/if}}

  {{#if isCreated}}
  <div class="main">
    <h2>Load created successfully!</h2>
  </div>
  {{/if}}

  {{#if isNew}}
  <div class="newLoads">
    <h2>NEW LOADS</h2>
    {{#if newLoads.length}}
    <table>
      <thead>
        <tr>
          <td>LOAD NAME</td>
          <td class="date">CREATED DATE</td>
          <td>PICK-UP ADDRESS</td>
          <td>DELIVERY ADDRES</td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        {{#each newLoads}}
        <tr>
          {{#each this}}
          {{#if name}}
          <td>{{name}}</td>
          {{/if}}
          {{#if created_date}}
          <td class="date">{{created_date}}</td>
          {{/if}}
          {{#if pickup_address}}
          <td class="status">{{pickup_address}}</td>
          {{/if}}
          {{#if delivery_address}}
          <td class="status">{{delivery_address}}</td>
          {{/if}}
          {{#if _id}}
          <td class="noId"><a href="/api/editload/{{_id}}" class="eye">EDIT</a></td>
          <td class="noPost">
            <form action="/api/loads/{{_id}}/post" method="post">
              <button type="submit" class="btnPost post">POST</button>
            </form>
          </td>
          {{/if}}
          {{/each}}
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{/if}}
  </div>
  {{/if}}

  {{#if isEdit}}
  <div class="editform">
    <form action="/api/edited/{{ID}}" method="post" class="createform">
      <h2>EDIT LOAD</h2>
      <div>
        <div>
          <label for="name">Name</label>
          <input id="name" type="text" name="name">
        </div>
        <div>
          <label for="payload">Payload</label>
          <input id="payload" type="text" name="payload">
        </div>
        <div>
          <label for="pickup_address">Pickup Address</label>
          <input id="pickup_address" type="text" name="pickup_address">
        </div>
        <div>
          <label for="delivery_address">Delivery Address</label>
          <input id="delivery_address" type="text" name="delivery_address">
        </div>
        <div class="dimensions">
          <p>Dimensions:</p>
          <div>
            <label for="width">Width</label>
            <input id="width" type="text" name="dimensions.width">
          </div>
          <div>
            <label for="length">Length</label>
            <input id="length" type="text" name="dimensions.length">
          </div>
          <div>
            <label for="height">Height</label>
            <input id="height" type="text" name="dimensions.height">
          </div>
        </div>
      </div>
      <div class="btns">
        <a href="/api/loads" class="btnA"><span>BACK</span></a>
        <button type="submit" class="btn">EDIT</button>
    </form>
  </div>
  <form action="/api/{{ID}}/delete" method="post">
    <button type="submit" class="delete">DELETE</button>
  </form>
</div>
{{/if}}

{{#if isAssigned}}
<div class="newLoads">
  <h2>ASSIGNED LOAD</h2>
  <table>
    <thead>
      <tr>
        <td>LOAD NAME</td>
        <td>LOGS</td>
      </tr>
    </thead>
    <tbody>
      {{#each load}}
      <tr>
        {{#if name}}
        <td class="aName">{{name}}</td>
        {{/if}}
        {{#if logs}}
        <td>
          {{#each logs}}
          <p class="message status"><span class="mess">{{message}}</span> <span class="time">{{time}}</span></p>
          {{/each}}
        </td>
        {{/if}}
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
{{/if}}

{{#if isDelete}}
<div class="main">
  <h2>Load deleted successfully!</h2>
</div>
{{/if}}

{{#if editFlag}}
<div class="main">
  <h2>Load details changed successfully!</h2>
</div>
{{/if}}

{{#if isPosted}}
<div class="posted">
  <h1>POSTED</h1>
  {{#if driverFound}}
  <h4>Load posted successfully</h4>
  <a href="/api/loads/shipping_info">To Assigned Load</a>
  {{else}}
  <h4>Sorry, the driver was not found</h4>
  <a href="/api/loads">Back</a>
  {{/if}}
</div>
{{/if}}

{{#if isHistory}}
<div class="newLoads">
  <h2>History</h2>
  {{#if loads.length}}
  <table>
    <thead>
      <tr>
        <td>LOAD NAME</td>
        <td>DELIVERY ADDRESS</td>
        <td>STATUS</td>
      </tr>
    </thead>
    <tbody>
      {{#each loads}}
      <tr>
        {{#each this}}
        {{#if name}}
        <td class='aName'>{{name}}</td>
        {{/if}}
        {{#if delivery_address}}
        <td class="status">{{delivery_address}}</td>
        {{/if}}
        {{#if logs}}
        <td class="status last">
          {{#each logs}}
          <div class="none">
            <p>{{message}}</p>
            <p><span class="mintime">{{time}}
              </span></p>
          </div>
          {{/each}}
        </td>
        {{/if}}
        {{/each}}
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/if}}
</div>
{{/if}}

{{#if isForgot}}
<div class="main">
  <h2>New password sent to your email address!</h2>
  <a class="btnA" href="/"><span>BACK</span></a>
</div>
{{/if}}

</div>