* {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}
body {
  background: linear-gradient(rgb(101, 113, 224), rgb(185, 195, 250));
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
div.container {
  position: absolute;
  display: flex;
  width: calc(100% - 200px);
}

div.container > div.index {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: calc(100% - 200px);
  top: 120px;
  left: 200px;
  padding: 20px 0 0 30px;
}
nav {
  position: absolute;
  border-bottom: #000000 3px double;
  width: 100vw;
  height: 120px;
}
nav  div {
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: space-between;
}
.logoDiv {
  flex: 1;
  min-width: 100px;
  max-width: 100px;
  height: 100px;
  margin: 0 100px 0 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: inset 5px 5px rgb(160, 173, 247);
  background: rgb(0, 0, 0);
}
.logoDiv span {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
}

.logout {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex: 8;
}
.logout p {
  margin: 20px;
  font-size: 20px;
  color: #000000;
} 
.logout a {
  margin: 20px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
}
.sidebar {
  position: absolute;
  top: 120px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.sidebar ul{
  width: 200px;
  list-style: none;
}
.sidebar ul li{
  cursor: pointer;
  padding: 20px 10px 20px;
  border-bottom:rgb(101, 113, 224) 3px double;
  position: relative;
}
.sidebar ul li a {
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}
.sidebar ul li.active {
  padding: 35px 20px 35px;
  text-align: center;
}
.sidebar ul li.active a{
  font-weight: 400;
  border-bottom: black 3px solid;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.forms {
  margin-top: 40px;
  display: flex;
}
.forms a {
  text-decoration: none;
  border: #ffffff 2px solid;
  background-color: #000000;
  padding: 5px 10px;
  margin: 0 30px;
  border-radius: 5px;
  color: #ffffff
}
.regforms {
  padding-top: 30px;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.regforms > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.regforms > div > div {
  margin: 10px;
}
.regforms > div > div label {
  margin-right: 5px;
}
.role {
  display: none;
}
div.container > div.index > form > button {
  width: 150px;
  border: #ffffff 2px solid;
  background-color: #000000;
  padding: 5px 10px;
  margin: 0 30px;
  border-radius: 5px;
  color: #ffffff
}
#email {
  margin-left: 28px;
}
.createform {
  padding: 20px 0 0 100px;
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.createform > div {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.createform > div {
  width: 100%;
}
.createform > div > div {
  width: 100%;
  margin-top: 10px;
  display: flex;
}
.createform > div div label{
  width: 135px;
}
.createform > div div input{
  width: 300px;
}
.dimensions {
  display: flex;
  flex-direction: column;
}
.dimensions > div {
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
}
button.btn {
  width: 100px;
  height: 50px;
  border: #ffffff 2px solid;
  background-color: #000000;
  padding: 5px 10px;
  margin: 15px 30px 0 0;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}
.newLoads, .profile {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.newLoads h2, .newLoads h4, .profile h2, .profile h4  {
  text-align: center;
  margin: 10px;
}
.newLoads table {
  width: 95%;
  min-width: 800px;
  border-collapse: collapse;
  margin: 10px;
}
.newLoads table td{
  border-bottom: black 1px solid;
  padding: 10px;
}
.newLoads table thead{
  border-top: black 1px solid;
 text-align: center;
 font-size: 14px;
 font-weight: 700;
}
.newLoads .date {
  width: 260px;
}
.newLoads .post {
  margin: 0 10px;
  text-decoration: none;
  color: #a54343;
}
.newLoads .eye {
  margin: 0 10px;
  text-decoration: none;
  color: #3f3999;
}
.profile ul {
  list-style-type: none;;
  min-width: 300px;
  margin: 20px 0 0 50px;
}
.profile ul li{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.profile ul > li > span{
  font-size: 18px;
  color: #000000;
  width: 100px;
}
.profile .id {
  width: 300px;
  color: #ffffff;
}
.profile > ul > li:nth-child(1), .noId:nth-child(1), .noPost:nth-child(2)  {
  display: none;
}

.btnPost {
  font-size: 15px;
  border: none;
  background: none;
  cursor: pointer;
}
div.posted {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 50%;
}
div.posted h1 {
margin-bottom: 30px;
}
div.posted h4 {
  margin-top: 30px;
  color: #ffffff;
}

div.posted a {
  margin-top: 20px;
  color: #ffffff;
  text-decoration: none;
  border: #000000 2px solid;
  border-radius: 3px;
  background-color: black;
  padding: 0 5px;
}
td.aName {
  color: #ffffff;
}
p.message {
  display: flex;
  align-items: center;
  padding: 8px 0 20px;
}
span.mess {
  flex: 2;
}
span.time {
  flex: 3;
  font-size: 12px;
}
td.status {
  text-align: center;
}
span.mintime {
  font-size: 10px;
}
div.none {
  display: none;
}
div.none:last-child {
  display: block;
}
div.editform {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin: 0 auto;
}
div.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
div.editform > form > button.delete {
  width: 60px;
  height: 30px;
  border: #ffffff 2px solid;
  border-radius: 5px;
  color: #ffffff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(173, 5, 5);
  margin: 10px 0 0 170px;
  cursor: pointer;
}
a.btnA {
  width: 95px;
  height: 46px;
  border: #ffffff 2px solid;
  background-color: #000000;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 15px 30px 0 0;
  cursor: pointer;
}

div.logins {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 70px 0 0 150px;
}
div.logins a {
  margin-top: 10px;
  text-decoration: none;
  border: #ffffff 2px solid;
  background-color: black;
  border-radius: 5px;
  color: #ffffff;
  padding: 5px 10px;
}

div.assigned {
  width: 90%;
  box-sizing: content-box;
}

div.fog {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
a.forgot {
  width: 100px;
  padding: 5px;
}

.footer{
  width: 100%;
  height: 30px;
  background-color: #000000;
  font-size: 12px;
  color:#ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: calc(100% - 30px);
}
